<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список покупок</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h2>Список покупок</h2>
    <ul id="shopp-list">
        <li th:each="item : ${items}">
            <label>
                <input type="checkbox" th:attr="item-id=${item.id}" th:checked="${item.done}"/>
                <span th:text="${item.title}">Название</span>
            </label>
        </li>
    </ul>

</body>
</html>