<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список покупок</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h2>Список покупок</h2>
    <ul id="shop-list">
        <li><label>Список пуст :(</label></li>
    </ul>

    <script>
        (function () {
            const tg = window.Telegram.WebApp;
            const userId = tg.initDataUnsafe.user.id;
            const initData = tg.initData;

            async function loadShopList() {
                try {
                    const response = await fetch(`api/purchases/${userId}`, {
                        method: 'GET',
                        headers: {
                            'Authorization': `tma ${initData}`
                        }
                    });
                    const purchases = await response.json();

                    const shopList = document.getElementById('shop-list');
                    shopList.innerHTML = '';

                    purchases.forEach((purchase) => {
                        const shopItem = document.createElement('li');
                        shopItem.innerHTML = `
                            <input id="${purchase.id}" type="checkbox" ${purchase.completed ? 'checked' : ''}>
                            <label for="${purchase.id}">${purchase.title}</label>
                        `;
                        shopItem.addEventListener('change', async (event) => {
                            const response = await fetch(`api/toggle`, {
                                method: 'PATCH',
                                headers: {
                                    'Authorization': `tma ${initData}`,
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    id: event.target.id,
                                    completed: event.target.checked
                                })
                            });
                            if (!response.ok) {
                                event.target.checked = !completed;
                                console.error('Не удалось обновить статус');
                            }
                        });
                        shopList.appendChild(shopItem);
                    });
                } catch (error) {
                    console.log(error);
                }
            }

            tg.ready();
            window.onload = loadShopList;
        })();
    </script>

</body>
</html>